<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-1 col-lg-2"></div>
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="chat-container">
        <div class="chat-messages" id="chatwindow">
          <%= render 'messages/conversation_messages' %>
        </div>
        <div class="chat-message-form">
          <%= render 'messages/message_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  chat = document.getElementById('chatwindow')
  chat.scrollTop = chat.scrollHeight;
</script>