

body {
  padding-top: 60px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(125, 123, 125, 0.25);
  border-color: #eeeeee;
}

.text-dark {
  color:#565c62 !important;
}

.text-dark:hover {
  color:black !important;
}

.username-style {
  color: black;
  font-size: 1.3em;
  line-height: 0;
}

a.username-style:hover {
  text-decoration: underline red;
  color:black;
}

a.btn-xs, input.btn-xs {
  padding: 0.25rem 0.3rem;
  font-size: 0.7rem;
  line-height: 1.0;
  border-radius: 0.2rem;
}

.sticky-top {
  top: 62px
}

.alert-notice {
  color: #10820e;
  background-color: #99b898;
  border-color: #053004;
}

.page-link {
  color: #565c62;
}

.page-link:hover {
  color: black;
  font-weight: bold;
}

.page-item.active .page-link {
  background-color: #343a40;
  border-color: #343a40;
}

.custom-select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ccc' viewBox='0 0 4 5'%3e%3cpath d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  background-color: #343a40;
  color: #eeeeee;
}

.chat-container {
  height: calc(95vh - 60px);
}

.chat-messages {
  overflow-y: auto;
  height: calc(100% - 104px);
}

.text-small {
  font-size: 0.8em;
}